@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.home__carousel {

    .swiper {
        width : 100%;
        height: 80vh;

        @include devices-large-screens() {
            height: 120vh;
        }
    }

    .swiper-slide {
        @include flex(center, center);
        position: relative;
        width   : 100%;

        img {
            height    : 100%;
            object-fit: cover;
            position  : absolute;
            z-index   : -1;
        }

        .swiper__caption {
            position: absolute;
            z-index : 9999;
            width   : 100%;

            @include devices-small-screens() {
                text-align: center;
            }

            h1 {
                @include apply-color(bs-dark);
                font-size    : get-font-size(30);
                font-weight  : 700;
                margin-bottom: 2rem;
                padding      : 0 .8rem;

                @include devices-large-screens() {
                    max-width: 680px;
                }

                @include devices-large-screens() {
                    font-size: get-font-size(60);
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @include apply-bg-color(bs-primary);
        border-radius: 50%;
        height       : 3rem;
        transition   : all .3s ease-in-out;
        width        : 3rem;

        @include hover() {
            opacity: .5;
        }

        @include devices-small-screens() {
            top: 80%;
        }

        &::after {
            @include apply-color(bs-white);
            font-size: get-font-size(18);
        }
    }

}

.review__swiper {
    height    : 100%;
    width     : 100%;

    .swiper {
        height: 100%;
        width : 100%;
    }

    .swiper-wrapper {
        padding: 2rem 0px 5rem;
    }

    .swiper-slide {
        @include apply-bg-color(bs-white);
        height: 240px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        @include apply-color(bs-dark);
        border       : 2px solid get-color(bs-primary);
        border-radius: 50%;
        height       : 50px;
        margin-top   : -1.8rem;
        top          : 90%;
        transition   : .5s ease-in-out;
        width        : 50px;

        @include hover() {
            @include apply-bg-color(bs-primary);

            &::after {
                @include apply-color(bs-white);
            }
        }

        &::after {
            font-size : get-font-size(18);
            transition: .5s ease-in-out;
        }
    }

    #nextReview {
        margin-right: 12px;
        right       : 50%;
    }

    #prevReview {
        left: 50%;
    }

    .swiper-slide-active {
        @include apply-bg-color(bs-primary);
        @include apply-color(bs-white);

        i {
            color: #f65005 !important;
        }

        h5 {
            color: #ffffff !important;
        }
    }
}