@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.top-bar {
    display: none;
    padding: .7rem 3%;
    width  : 100%;

    @include devices-large-screens() {
        @include flex(center, space-between);
    }

    &__row {
        @include flex(center, space-between, 1.5rem);

        span {
            @include apply-color(bs-slate-gray);
            font-size: get-font-size(14);
        }
    }
}