@use "sass:map";

$theme-color: (
    bs-indigo    : #6610f2,
    bs-purple    : #6f42c1,
    bs-pink      : #d63384,
    bs-red       : #dc3545,
    bs-orange    : #fd7e14,
    bs-yellow    : #ffc107,
    bs-green     : #198754,
    bs-teal      : #20c997,
    bs-cyan      : #0dcaf0,
    bs-white     : #ffffff,
    bs-gray      : #6c757d,
    bs-gray-light: #999999,
    bs-gray-dark : #343a40,
    bs-slate-gray: #555555,
    bs-primary   : #3CB815,
    bs-secondary : #F65005,
    bs-success   : #198754,
    bs-info      : #0dcaf0,
    bs-warning   : #ffc107,
    bs-danger    : #dc3545,
    bs-light     : #F7F8FC,
    bs-dark      : #111111,
);

@mixin apply-color($key) {
    @if map.has-key($theme-color, $key) {
        color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@mixin apply-bg-color($key) {
    @if map.has-key($theme-color, $key) {
        background-color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@function get-color($key) {
    @if map.has-key($theme-color, $key) {
        @return map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
        @return null;
    }
}