@use "colors"as *;
@use "typography"as *;
@use "mixins"as *;
@use "../global/responsive"as *;

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width : 100%
}

body {
    @include apply-color(bs-gray);
    @include open-sans();
    font-size  : 1em;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color          : inherit;
    display        : inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include apply-color(bs-dark);
    @include lora();
    font-weight   : 700 !important;
    line-height   : 1.2;
    margin-bottom : 0.5rem;
    text-transform: capitalize;
}

.social-list {
    @include flex(center, space-between, .8rem);

    a {
        i {
            transition: .3s ease-in-out;

            @include hover() {
                transform: scale(1.1);
            }
        }
    }
}

.brand {
    @include apply-color(bs-primary);
    font-size: get-font-size(30);

    @include devices-large-screens() {
        font-size: get-font-size(40);
    }
}

.brand span {
    @include apply-color(bs-secondary);
}