@use "sass:math";

@mixin round($size, $circle: false) {
    height: $size;
    width : $size;

    @if $circle {
        border-radius: math.div($size, 2);
    }
}


@mixin hover {
    &:hover {
        @content
    }
}

@mixin flex($align-items, $justify-content, $gap: 1rem) {
    align-items    : $align-items;
    display        : flex;
    gap            : $gap;
    justify-content: $justify-content;
}

@mixin grid($columns, $gap: 1rem) {
    display              : grid;
    grid-template-columns: $columns;
    gap                  : $gap;
}

@mixin linear-gradient() {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}