/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #6c757d;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  font-family: "Lora", serif;
  font-weight: 700 !important;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.social-list {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}
.social-list a i {
  transition: 0.3s ease-in-out;
}
.social-list a i:hover {
  transform: scale(1.1);
}

.brand {
  color: #3CB815;
  font-size: 1.875rem;
}
@media screen and (min-width: 1920px) {
  .brand {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .brand {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .brand {
    font-size: 2.5rem;
  }
}

.brand span {
  color: #F65005;
}

.burger__button {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  color: #555555;
  background: transparent;
  border: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 44px;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 1920px) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .burger__button {
    display: none;
  }
}
.burger__button:hover {
  opacity: 0.6;
}
.burger__button-visually {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.burger__button-bars {
  background-color: #555555;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 22px;
}
.burger__button-bars::after, .burger__button-bars::before {
  background-color: #555555;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.burger__button-bars::after {
  transform: translate(0, -8px);
}
.burger__button-bars::before {
  transform: translate(0, 8px);
}

.burger__active .burger__button-bars {
  background: transparent !important;
}
.burger__active .burger__button-bars::before {
  transform: rotate(45deg);
}
.burger__active .burger__button-bars::after {
  transform: rotate(-45deg);
}

.modal {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: end;
  background: black;
  height: 100%;
  inset: 0;
  overflow-y: auto;
  opacity: 0;
  position: fixed;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
}
.modal::-webkit-scrollbar {
  width: 0;
}
.modal__close-button {
  font-family: "Open Sans", sans-serif;
  align-items: center;
  display: flex;
  gap: 14px;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 1.125rem;
  min-height: 50px;
  min-width: 44px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.modal__close-button:hover {
  opacity: 0.5;
}
.modal__close-button:hover::after {
  transform: rotate(225deg);
}
.modal__close-button:hover::before {
  transform: rotate(135deg);
}
.modal__close-button::after, .modal__close-button::before {
  background-color: #ffffff;
  content: "";
  height: 2px;
  position: absolute;
  right: 2px;
  transition: 0.6s ease-in-out;
  width: 22px;
}
.modal__close-button::after {
  transform: rotate(45deg);
}
.modal__close-button::after:hover {
  transform: translate(-50%, -50%) rotate(225deg);
}
.modal__close-button::before {
  transform: rotate(-45deg);
}

.modal__active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.navbar__list {
  display: none;
}
@media screen and (min-width: 1920px) {
  .navbar__list {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .navbar__list {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .navbar__list {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    justify-content: space-between;
  }
}
.navbar__list a {
  color: #555555;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 25px 1rem;
  transition: 0.3s ease-in-out;
}
.navbar__list a:hover {
  color: #111111;
}
.navbar .social-list {
  gap: 1rem;
}
.navbar .social-list a {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  height: 32px;
  text-align: center;
  transition: 0.3s ease-in-out;
  width: 32px;
}
.navbar .social-list a:hover {
  background-color: #20c997;
}
.navbar .social-list a:hover i {
  color: #ffffff;
  transform: scale(1);
}
.navbar .social-list a i {
  color: #555555;
  font-size: 0.875rem;
  font-weight: 900;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .navbar .social-list {
    display: none;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .navbar .social-list {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .navbar .social-list {
    display: none;
  }
}

.navbar--active .navbar__list {
  height: calc(100% - 67px);
  overflow-y: auto;
  visibility: visible;
}

.menu__list {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 70%;
  overflow-y: auto;
  padding: 1rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .menu__list {
    flex-direction: column;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .menu__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .menu__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .menu__list {
    justify-content: start;
  }
}
.menu__list li {
  text-align: center;
  width: 100%;
}
.menu__list span {
  display: block;
  text-align: center;
}
.menu__list a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.home__carousel .swiper {
  width: 100%;
  height: 80vh;
}
@media screen and (min-width: 1920px) {
  .home__carousel .swiper {
    height: 120vh;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .home__carousel .swiper {
    height: 120vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .home__carousel .swiper {
    height: 120vh;
  }
}
.home__carousel .swiper-slide {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
  width: 100%;
}
.home__carousel .swiper-slide img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.home__carousel .swiper-slide .swiper__caption {
  position: absolute;
  z-index: 9999;
  width: 100%;
}
.home__carousel .swiper-slide .swiper__caption h1 {
  color: #111111;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 0 0.8rem;
}
@media screen and (min-width: 1920px) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    max-width: 680px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    max-width: 680px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    max-width: 680px;
  }
}
@media screen and (min-width: 1920px) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .home__carousel .swiper-slide .swiper__caption h1 {
    font-size: 3.75rem;
  }
}
.home__carousel .swiper-button-next,
.home__carousel .swiper-button-prev {
  background-color: #3CB815;
  border-radius: 50%;
  height: 3rem;
  transition: all 0.3s ease-in-out;
  width: 3rem;
}
.home__carousel .swiper-button-next:hover,
.home__carousel .swiper-button-prev:hover {
  opacity: 0.5;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .home__carousel .swiper-button-next,
  .home__carousel .swiper-button-prev {
    top: 80%;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .home__carousel .swiper-button-next,
  .home__carousel .swiper-button-prev {
    top: 80%;
  }
}
@media screen and (max-width: 480px) {
  .home__carousel .swiper-button-next,
  .home__carousel .swiper-button-prev {
    top: 80%;
  }
}
.home__carousel .swiper-button-next::after,
.home__carousel .swiper-button-prev::after {
  color: #ffffff;
  font-size: 1.125rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .container {
    max-width: 1024px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  padding: 0.5rem 2%;
  position: fixed;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  width: 100%;
  z-index: 9999;
}
.header__topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  display: none;
  height: 45px;
  transition: 0.3s ease-in-out;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .header__topbar {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .header__topbar {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .header__topbar {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
.header__topbar-row {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
.header__topbar-row span {
  color: #555555;
  font-size: 0.875rem;
}
.header__menu {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: space-between;
  animation-delay: 0.1s;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.header.stick {
  animation-delay: 0.1s;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  visibility: visible;
}
@media screen and (min-width: 1920px) {
  .header.stick {
    transform: translateY(-52px);
    pointer-events: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .header.stick {
    transform: translateY(-52px);
    pointer-events: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .header.stick {
    transform: translateY(-52px);
    pointer-events: none;
  }
}

.home__buttons {
  padding: 0 0.8rem;
}

/*# sourceMappingURL=main.css.map */
