// Estilos para containers que definem a largura e o alinhamento do conteúdo principal da página.
@use "../global/responsive"as *;

.container {
    margin: 0 auto;
    width : 100%;

    @include devices(xxl) {
        max-width: 1320px;
    }

    @include devices(xl) {
        max-width: 1140px;
    }

    @include devices(l) {
        max-width: 960px;
    }
}