@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;
@use "../components/button"as *;

.home__buttons {
    padding: 0 .8rem;
}

// section about

.about__image {
    @include flex(center, flex-end, 0px);
    justify-self: self-end;
    overflow    : hidden;
    padding     : 2rem;
    position    : relative;

    &::before {
        background-image: repeating-radial-gradient(#fff, #eee 5px, transparent 5px, transparent 10px);
        background-size : 20px 20px;
        content         : "";
        height          : 100%;
        left            : -50%;
        position        : absolute;
        transform       : skew(20deg);
        top             : 0;
        width           : 100%;
        z-index         : 1;
    }

    img {
        object-fit: cover;
        position  : relative;
        z-index   : 2;

        @include devices-large-screens() {
            height: 564px;
            width : 564px;
        }
    }
}

.about__content {

    p,
    ul {
        @include apply-color(bs-slate-gray);
    }

    p {
        margin-bottom: 24px;
        max-width    : 600px;
        width        : 100%;
    }

    ul {
        li {
            margin-bottom: 1rem;

            i {
                @include apply-color(bs-primary);
                margin-right: .5rem;
            }
        }
    }

    .btn {
        margin-top: 1rem;
    }
}

// section details
.details {
    @include bg-img("../images/bg.png");
    background-color: get-color(bs-light) !important;
    background-size : contain;

    .section__container {
        margin    : 0 auto 4rem;
        text-align: center;
    }
}

.details__cards {
    @include grid(1fr, 1.5rem);

    @include devices-large-screens() {
        grid-template-columns: repeat(3, 1fr);
    }

    @include devices(t) {
        grid-template-columns: 1fr 1fr;
    }
}

.card__item {
    @include apply-bg-color(bs-white);
    @include flex(center, center, 0px);
    flex-direction: column;
    padding       : 48px;
    text-align    : center;

    img {
        height       : 90px;
        margin-bottom: 1.5rem;
        width        : 90px;
    }

    h2 {
        font-size    : get-font-size(24);
        line-height  : 30px;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    .btn {
        @include apply-color(bs-primary);
        border-color: get-color(bs-primary);
        border-width: 1.6px;
        padding     : 8px 24px;

        @include hover() {
            @include apply-color(bs-white);
            @include apply-bg-color(bs-primary);
        }
    }
}

//section products
.products {

    .section__header {

        &::before,
        &::after {
            left     : 0;
            transform: translateX(0);
        }
    }
}

.products__filter {
    @include flex(center, center, 1rem);
    flex-wrap : wrap;
    margin-top: 1.5rem;

    @include devices-large-screens() {
        justify-content: flex-end;
    }

    @include devices(t) {
        justify-content: flex-end;
    }
}

.products__list {
    @include grid(1fr, 1.5rem);
    margin: 3rem 0;

    @include devices-large-screens() {
        grid-template-columns: repeat(4, 1fr);
    }

    @include devices(t) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-card {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    display   : none;
    opacity   : 0;
    transform : translateY(20px);
    transition: .5s ease-in-out;
    position  : relative;
    width     : 100%;
}


.product-card.activated {
    display  : block;
    opacity  : 1;
    transform: translateY(0);
}

.product-badge {
    @include apply-bg-color(bs-secondary);
    @include apply-color(bs-white);
    left    : .8rem;
    padding : 4px 16px;
    position: absolute;
    top     : .8rem;
    z-index : 999;
}

.product-image {
    overflow: hidden;

    img {
        height    : 100%;
        object-fit: cover;
        transition: .5s ease-in-out;

        @include hover() {
            transform: scale(1.1);
        }
    }
}

.product-info {
    padding   : 24px;
    text-align: center;

    h3 {
        @include apply-color(bs-dark);
        font-size    : get-font-size(20);
        font-weight  : 600;
        line-height  : 24px;
        margin-bottom: 8px;
    }

    p {
        @include apply-color(bs-primary);

        span {
            @include apply-color(bs-slate-gray);
            margin-left    : 4px;
            text-decoration: line-through;
        }
    }
}

.product-actions {
    @include flex(center, center, 0);
    border-top: 1px solid #dee2e6;

    a {
        flex-grow : 1;
        font-size : get-font-size(14);
        text-align: center;
        transition: .3s ease-in-out;
        padding   : .5rem 0;

        @include hover() {
            @include apply-color(bs-primary);
        }

        &:first-of-type {
            border-right: 1px solid #dee2e6;
        }

        i {
            @include apply-color(bs-primary);
        }
    }
}

.product__button {
    text-align: center;
}

//firm
.firm {
    @include bg-img("../images/bg.png");
    @include apply-color(bs-white);
    background-color: get-color(bs-primary) !important;
    padding         : 6rem 2%;

    &__content {
        @include grid(1fr);

        @include devices-large-screens() {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(t) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__row {
        align-self: center;

        h1 {
            @include apply-color(bs-white);
            font-size    : get-font-size(32);
            font-weight  : 700;
            line-height  : 58px;
            margin-bottom: 1rem;

            @include devices-large-screens() {
                font-size: get-font-size(48);
            }
        }

        &:nth-child(2) {
            justify-self: start;

            @include devices-large-screens() {
                align-self  : center;
                justify-self: end;
            }
        }
    }
}

//Review
.review {
    @include bg-img("../images/bg.png");
    background-color: #F7F8FC !important;

    .section__container {
        max-width : 600px;
        margin    : 0 auto 4rem;
        text-align: center;
    }

    .review__container {
        max-width: 1320px;
        margin   : 0 auto;
        padding  : 0 2%;
        width    : 100%;
    }

    .review__card {
        @include flex(center, center, 0px);
        align-items    : start;
        justify-content: space-between;
        flex-direction : column;
        position       : relative;
        padding        : 32px;
        transition     : .5s ease-in-out;

        @include devices-large-screens() {
            padding: 48px;
        }

        i {
            @include apply-color(bs-primary);
            font-size: get-font-size(48);
            margin   : -24px 0px 48px;
            position : absolute;
            top      : 0;
            z-index  : 99999;
        }

        p {
            flex-grow    : 1;
            line-height  : 24px;
            margin-bottom: 24px;
        }

        .customer__info {
            @include flex(center, start);

            img {
                border-radius: 50%;
                height       : 60px;
                object-fit   : cover;
                width        : 60px;
            }

            h5 {
                @include apply-color(bs-dark);
                font-size  : get-font-size(20);
                font-weight: 600;
                line-height: 24px;

                @include devices-small-screens() {
                    font-size: get-font-size(18);
                }
            }
        }
    }
}

// blog
.blog {
    .section__container {
        max-width : 600px;
        margin    : 0 auto 4rem;
        text-align: center;
    }

    &__cards {
        @include grid(1fr, 1.5rem);

        @include devices-large-screens() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include devices(t) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__post {
        @include apply-bg-color(bs-light);

        &-info {
            padding: 24px;
        }

        &-title {

            a {
                @include apply-color(bs-dark);
                @include lora();
                font-size    : get-font-size(20);
                font-weight  : 600;
                line-height  : 2rem;
                margin-bottom: 24px;
                transition   : .3s ease-in-out;

                @include hover() {
                    @include apply-color(bs-primary);
                }
            }
        }

        &-meta {
            @include apply-color(bs-gray);
            border-top : 1px solid #dee2e6 !important;
            font-size  : get-font-size(14);
            line-height: 22px;
            padding-top: 1rem;

            i {
                @include apply-color(bs-primary);
            }

            span {
                &:nth-child(1) {
                    margin-right: 1rem;
                }
            }
        }
    }
}